.left_column {
  position: fixed;
  background-color: #e6003c;
  z-index: 2;
  height: 100vh;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_column a {
  text-decoration: none;
}

.left_column p {
  color: #fcfcfd;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.left_column p:hover {
  cursor: pointer;
  /* background-color: #e5fcf6; */
  /* color: #808080; */
}

.searchB {
  background-color: #fcfcfd;
  color: #e6003c;
  font-weight: bold;
  font-size: 13pt;
  text-align: center;
  width: 180px;
  height: 50px;
  z-index: 1;
  position: fixed;
  left: 45px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid transparent;
  border-image: linear-gradient(to right, #b3b3b3, transparent) 1 100%;
}
.searchB:hover {
  background-color: #e5fcf6;
  /* color: #808080; */
  cursor: pointer;
}

.detail_div {
  position: fixed;
  background-color: #fcfcfd;
  /* opacity: 0.5; */
  opacity: 1;
  left: 45px;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 0.1rem; */
  height: calc(100vh - 50px);
  /* width: 5%; */
  width: 180px;
  align-items: center;
  border-right: solid transparent 3px;
  border-image: linear-gradient(to right, #b3b3b3, transparent) 1 100%;
  overflow: auto;
}

.accordion_div {
  width: 100%;
  color: #333333;
  font-size: 12pt;
  font-weight: bold;
}
/* .detail_div:hover {
  background-color: #fcfcfd;
  opacity: 1;
  width: 20%;
} */

.info {
  display: block;
  width: 85%;
}

.info > p {
  font-size: 0.8rem;
}

/* .detail_div:hover > .info {
  display: block;
} */

.roadItem form {
  display: flex;
  flex-direction: column;
}

.roadItem form label {
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.roadItem form label:hover {
  background-color: #e5fcf6;
}

.roadItem form label p {
  margin: 0;
  margin-left: 5px;
}

.info_button:hover {
  opacity: 0.5;
}

.info_button_div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.prep {
  padding: 0.75rem;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
}

.footnote {
  font-size: 8pt;
  color: #cccccc;
  padding: 20px;
}

.fnt {
  font-weight: 900;
}

.roadNo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: solid #cccccc 1px;
  margin: 10px;
  color: #cccccc;
}

.roadNo div {
  color: #808080;
  font-size: 8pt;
}

.roadNo:hover {
  background-color: #e5fcf6;
}
.selectRoad {
  position: fixed;
  left: 230px;
  top: 5px;
  width: 180px;
  z-index: 2;
  font-size: 8pt;
  border-radius: 0% !important;
}
.css-13cymwt-control {
  border-radius: 0px !important;
}

.css-t3ipsp-control {
  border-radius: 0px !important;
  border-color: #cccccc;
}

.css-t3ipsp-control:hover {
  border-color: #cccccc !important;
  background-color: #e5fcf6 !important;
  box-shadow: 0 0 0 1px #e5fcf6;
}

.css-t3ipsp-control:active {
  border-color: #cccccc !important;
  /* background-color: #e5fcf6 !important; */
}

.css-10wo9uf-option:hover {
  background-color: #e5fcf6 !important;
}

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  color: #333333;
}

.guide:hover {
  background-color: #e5fcf6;
  cursor: pointer;
}
